@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5 mb-5">
    <div class="col-3">
        <div class="text-center">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Generate">Generate Pdf</a>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="GenerateWithHeaderFooter">Generate Pdf With Header Footer</a>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Generate">Generate Pdf</a>
        </div>
    </div>
    <div class="col-3">
        <div class="text-center">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Generate">Generate Pdf</a>
        </div>
    </div>
</div>


