@{
    Layout = null;
}

<style type="text/css">
    html, div, p, span {
        line-height: 16px;
    }

    span, p, h4, b, th, td {
        font-family: Arial;
        font-size: 16px !important;
        text-align: justify;
    }

    h4 {
        font-weight: bold;
    }

    h1 {
        font-size: 18px !important;
    }

    h2 {
        font-size: 17px !important;
    }

    #table-one > tbody > tr > td {
        vertical-align: middle;
        text-align: left;
        padding: 8px 8px;
    }
</style>

<div style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; font-family:Arial, Helvetica, sans-serif; font-size:18px; display: inline-block;">
    <div style="padding: 0px 0px 0px 0px; margin: 0px 10px 0px 10px; width: 100%; display: inline-block;">
        <h1>Rasel Ahmmed Bappi</h1>
        <h2>Dhaka</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis orci eu nisl mattis eleifend aliquam nec urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus quam ac rutrum viverra. Nam aliquet ut tellus ac imperdiet. Nunc mi tortor, tristique et orci sed, convallis mollis orci. Curabitur quis consectetur sapien. Nam rutrum at risus id laoreet. Etiam dapibus nisl non ligula semper, in placerat est fringilla. Donec id odio in felis convallis maximus.
        </p>
        <p>
            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
        </p>
        <p>
            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
        </p>
        <p>
            In sed dolor erat. Aliquam egestas vitae risus sit amet egestas. Etiam velit ligula, ultricies et nisi in, commodo volutpat lacus. Sed malesuada tellus id eros molestie, id rhoncus nunc auctor. Nam ullamcorper dignissim erat, vitae ultrices ligula pharetra eu. Integer rhoncus neque id fermentum luctus. Cras dolor diam, rutrum a urna vitae, congue commodo turpis. Sed hendrerit ligula eget felis dapibus venenatis. Sed convallis gravida est nec auctor.
        </p>
        <table>
            <tbody>
                <tr>
                    <td style="width: 60%;">
                        <p>
                            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
                        </p>
                    </td>
                    <td style="width: 40%;">
                        <p>
                            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">
                        <p>
                            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
                        </p>
                    </td>
                    <td style="width: 40%;">
                        <p>
                            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Duis vel nisi in nisi feugiat commodo. Morbi in tempor tortor. In id vestibulum leo. Integer id semper metus. Pellentesque placerat erat eu volutpat viverra. Phasellus ac hendrerit sem, ac egestas nunc. Aenean interdum imperdiet massa, ut posuere ex consequat a. In rhoncus, purus ac tempor luctus, ex lacus euismod turpis, nec laoreet turpis erat sit amet diam.
        </p>
        <table>
            <tbody>
                <tr>
                    <td style="width: 60%;">
                        <p>
                            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
                        </p>
                    </td>
                    <td style="width: 40%;">
                        <p>
                            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 60%;">
                        <p>
                            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
                        </p>
                    </td>
                    <td style="width: 40%;">
                        <p>
                            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis orci eu nisl mattis eleifend aliquam nec urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus quam ac rutrum viverra. Nam aliquet ut tellus ac imperdiet. Nunc mi tortor, tristique et orci sed, convallis mollis orci. Curabitur quis consectetur sapien. Nam rutrum at risus id laoreet. Etiam dapibus nisl non ligula semper, in placerat est fringilla. Donec id odio in felis convallis maximus.
        </p>
        <p>
            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
        </p>
    </div>

    <div style="padding: 0px 0px 0px 0px; margin: 0px 10px 0px 10px; width: 100%; display: inline-block;">
        <table style="margin: 0px 0px 0px 0px; width: 100%; pointer-events: none; border-collapse: collapse;">
            <thead style="text-align:center;">
                <tr style="font-weight: bold;">
                    <th style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #F4B084; width: 50%;">Category Name</th>
                    <th style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #F4B084; width: 50%;">Product Name</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Apple</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Mango</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Orange</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Banana</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Licho</td>
                </tr>
                <tr>
                    <td>Fruit</td>
                    <td>Jack Fruit</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Toyota</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Nissan</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Tata</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Honda</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Kimi</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Suzuki</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Ferrari</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">T Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Polo Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Panjabi</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fotuya</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shari</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Kamij</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Book</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">History</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Book</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fire Out</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shoe</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Apex</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shoe</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Bata</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Acer</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Dell</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">HP</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="padding: 0px 0px 0px 0px; margin: 0px 10px 0px 10px; width: 100%; display: inline-block;">
        <table style="margin: 0px 0px 0px 0px; width: 100%; pointer-events: none; border-collapse: collapse;">
            <thead style="text-align:center;">
                <tr style="font-weight: bold;">
                    <th style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #F4B084; width: 50%;">Category Name</th>
                    <th style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #F4B084; width: 50%;">Product Name</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <tr>
                    <td rowspan="6" style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Apple</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Mango</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Orange</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Banana</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Licho</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Jack Fruit</td>
                </tr>
                <tr>
                    <td rowspan="7" style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Toyota</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Nissan</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Tata</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Honda</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Kimi</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Suzuki</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Ferrari</td>
                </tr>
                <tr>
                    <td rowspan="7" style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">T Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Polo Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Panjabi</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Fotuya</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Shari</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Kamij</td>
                </tr>
                <tr>
                    <td rowspan="2" style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Book</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">History</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Fire Out</td>
                </tr>
                <tr>
                    <td rowspan="2" style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shoe</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Apex</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Bata</td>
                </tr>
                <tr>
                    <td rowspan="3" style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Acer</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">Dell</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 100%;">HP</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="padding: 0px 0px 0px 0px; margin: 0px 10px 0px 10px; width: 100%; display: inline-block;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis orci eu nisl mattis eleifend aliquam nec urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus quam ac rutrum viverra. Nam aliquet ut tellus ac imperdiet. Nunc mi tortor, tristique et orci sed, convallis mollis orci. Curabitur quis consectetur sapien. Nam rutrum at risus id laoreet. Etiam dapibus nisl non ligula semper, in placerat est fringilla. Donec id odio in felis convallis maximus.
        </p>
        <p>
            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
        </p>
        <p>
            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
        </p>
        <p>
            In sed dolor erat. Aliquam egestas vitae risus sit amet egestas. Etiam velit ligula, ultricies et nisi in, commodo volutpat lacus. Sed malesuada tellus id eros molestie, id rhoncus nunc auctor. Nam ullamcorper dignissim erat, vitae ultrices ligula pharetra eu. Integer rhoncus neque id fermentum luctus. Cras dolor diam, rutrum a urna vitae, congue commodo turpis. Sed hendrerit ligula eget felis dapibus venenatis. Sed convallis gravida est nec auctor.
        </p>
        <p>
            Duis vel nisi in nisi feugiat commodo. Morbi in tempor tortor. In id vestibulum leo. Integer id semper metus. Pellentesque placerat erat eu volutpat viverra. Phasellus ac hendrerit sem, ac egestas nunc. Aenean interdum imperdiet massa, ut posuere ex consequat a. In rhoncus, purus ac tempor luctus, ex lacus euismod turpis, nec laoreet turpis erat sit amet diam.
        </p>
    </div>

    <div style="padding: 0px 0px 0px 0px; margin: 0px 10px 0px 10px; width: 100%; display: inline-block;">
        <table style="margin: 0px 0px 0px 0px; width: 100%; pointer-events: none; border-collapse: collapse;">
            <thead style="text-align:center;">
                <tr style="font-weight: bold;">
                    <th style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #F4B084; width: 50%;">Category Name</th>
                    <th style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #F4B084; width: 50%;">Product Name</th>
                </tr>
            </thead>
            <tbody style="text-align:center;">
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Apple</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Mango</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Orange</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Banana</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fruit</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Licho</td>
                </tr>
                <tr>
                    <td>Fruit</td>
                    <td>Jack Fruit</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Toyota</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Nissan</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Tata</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Honda</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Kimi</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Suzuki</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Car</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Ferrari</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">T Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Polo Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shirt</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Panjabi</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fotuya</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shari</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Cloth</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Kamij</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Book</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">History</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Book</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Fire Out</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shoe</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Apex</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Shoe</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Bata</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Acer</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Dell</td>
                </tr>
                <tr>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">Desktop</td>
                    <td style="margin: 0px 0px 0px 0px; border: 1px solid #000; padding: 4px; background-color: #fff; width: 50%;">HP</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="padding: 0px 0px 0px 0px; margin: 0px 10px 0px 10px; width: 100%; display: inline-block;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas quis orci eu nisl mattis eleifend aliquam nec urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus quam ac rutrum viverra. Nam aliquet ut tellus ac imperdiet. Nunc mi tortor, tristique et orci sed, convallis mollis orci. Curabitur quis consectetur sapien. Nam rutrum at risus id laoreet. Etiam dapibus nisl non ligula semper, in placerat est fringilla. Donec id odio in felis convallis maximus.
        </p>
        <p>
            Suspendisse quis viverra nisi, sed condimentum orci. Integer imperdiet hendrerit fermentum. Integer augue mauris, porttitor ac sapien quis, tincidunt dignissim risus. Vestibulum eget arcu in tortor venenatis sodales eget quis velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non feugiat arcu. Morbi consequat justo et tortor dapibus aliquam. Integer vel sem est.
        </p>
        <p>
            Morbi a quam ac nulla consequat viverra. Proin eu est ante. Ut condimentum tellus vel volutpat scelerisque. Suspendisse ac mauris porta, imperdiet justo sed, vestibulum nulla. Cras convallis nibh sit amet ex tincidunt commodo. Suspendisse auctor facilisis massa, nec pharetra tellus vulputate at. Nunc mollis nibh at leo tincidunt, in ullamcorper felis eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut malesuada arcu.
        </p>
        <p>
            In sed dolor erat. Aliquam egestas vitae risus sit amet egestas. Etiam velit ligula, ultricies et nisi in, commodo volutpat lacus. Sed malesuada tellus id eros molestie, id rhoncus nunc auctor. Nam ullamcorper dignissim erat, vitae ultrices ligula pharetra eu. Integer rhoncus neque id fermentum luctus. Cras dolor diam, rutrum a urna vitae, congue commodo turpis. Sed hendrerit ligula eget felis dapibus venenatis. Sed convallis gravida est nec auctor.
        </p>
        <p>
            Duis vel nisi in nisi feugiat commodo. Morbi in tempor tortor. In id vestibulum leo. Integer id semper metus. Pellentesque placerat erat eu volutpat viverra. Phasellus ac hendrerit sem, ac egestas nunc. Aenean interdum imperdiet massa, ut posuere ex consequat a. In rhoncus, purus ac tempor luctus, ex lacus euismod turpis, nec laoreet turpis erat sit amet diam.
        </p>
    </div>

</div>


